body{
    overflow-x: hidden;
}

#menu a{
    font-size: 18px;
    font-weight: bolt;
}

#menu button{
    font-size: 18px;
    font-weight: bolt;
}

.carousel-inner{
    max-height: 39rem;
}
@media (max-width:768px){
    #intro {
         width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
}
@media (max-width){
    .icono-wrap{
        flex-wrap: wrap ;
        justify-content: center;
    }
}