:root {
  &[data-bs-theme="dark"] {
    color-scheme: dark;

    --color: #1f2023;
    --color-primary: #e4f5b1;
    --color-secondary: #2a2b32;
    --color-contraste: #635274 ;
    --color-blanco: #ffffff;
    --color-terciary:#7bb0a8 ;

    --prefix-body-bg-color: #1f2023;
    --prefix-body-text-color: #bebebe ;
    --prefix-heading-text-color: #ffffff;

    --prefix-header-bg-color: #2e2f36;
    --prefix-header-border-color: #393b43 ;
    
    --prefix-nav-bg-color: gray;

    --prefix-footer-bg-color: #393b43;

    --prefix-color-primary: #e4f5b1;
    --prefix-color-primary-hover: #e4f5b1 ;
    --prefix-color-primary-contrast: #1f2023 ;

    --prefix-nav-link: #e4f5b1 ;
    --prefix-link-text-color: #e4f5b1 ;
  
    --prefix-hero-title-color: #635274 ;
    --prefix-hero-text-color:#e4f5b1;

    --prefix-color-secondary: #393b43;
    --prefix-color-secondary-hover: #2b2c32 ;
    --prefix-color-secondary-contrast: #e4f5b1 ;

    --prefix-input-bg-color: #27282d;
    --prefix-input-border-color: #393b43 !;
    --prefix-input-focus-border-color: #e4f5b1;

    --prefix-select-bg-color: #2e2f36;
    --prefix-select-hover-color: #393b43 ;
    --prefix-select-border-color: transparent ;
    --prefix-select-focus-color:#e4f5b1;

    --prefix-card-bg: #2a2b32;
    --prefix-card-border: #393b43;

    --prefix-local-bg-color: #2a2b32; 
  }
}
