$header-bg-color: var(--#{prefix}-header-bg-color, $color-secondary) !important;
$header-border-color: var(--#{prefix}-header-border-color, $color-focus)!important;
$footer-bg-color: var(--#{prefix}-footer-bg-color, $color-secondary) !important ;
$footer-border-color: var(--#{prefix}-footer-border-color, $color-secondary)!important;
$hero-title-color:  var(--#{prefix}-hero-title-color, $color-secondary-contrast)!important;
$hero-text-color:  var(--#{prefix}-hero-text-color, $color-secondary-hover)!important;
$nav-bg-color: var(--#{prefix}-nav-bg-color, $color-primary) !important;

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.base{
    background-color: $body-bg-color;
    &-header{
        border-bottom: 1px solid $header-border-color;
        background-color: $header-bg-color;
        &-text{
            color: $hero-title-color;
        }
    }
    &-navbar{
        background-color: $nav-bg-color;
    }
    &-footer{
        background-color: $footer-bg-color;
    }
}
.hero-title{
    color:$hero-title-color;
}
.hero-text{
    color:$hero-text-color;
}

.carousel-inner{
    max-height: 39rem;
}

#iconos{
    font-size: 26px;
    padding: 8px;
}
.main_quienes{
    align-items: center;
    text-align: center;
    justify-content: center;
}