.link{
  --#{prefix}-link-text-color: #($color-secondary-contrast) !important;
    
    color: var(--#{prefix}-link-text-color) !important;
    opacity: 0.8;
    transition: all 0.2 ease-in-out;
    text-decoration: none;

    &:hover{
        opacity: 1;
        color: $color-blanco !important;
      &:after{
        transform: scale3d(1, 1, 1);
      }
    }
    &:after{
        width: 100%;
        height: 2px;
        content: '';
        display: block;
        transform: scale (0, 0, 1);
        transition: all 0.2 ease;
        border-radius: 2px;
        transform-origin: center;
        background-color: $color-primary !important;
    }
}