.nav{
    --#{$prefix}-navbar-bg: #($color-primario) !important;
    --#{$prefix}-nav-color: #($color-full-contrast) !important;

    background-color: var(--#{$prefix}-navbar-bg) !important;
    
    &-link{
        color: $color-full-contraste !important;
        opacity: 0.8; 
        transition: all 0.2 ease-in-out;
        text-decoration: none;
    
        &:hover{
            opacity: 1;
        }
}}