.nav{
    --#{$prefix}-nav-color: #($color-secondary-contrast) !important;

    background: rgb(34,195,182)!important;
    background: linear-gradient(0deg, rgba(34,195,182,0.05663515406162467) 0%, rgba(167,219,171,1) 100%)!important;
    
    &-link{

        color: var(--#{$prefix}-nav-color)!important;
        opacity: 0.8; 
        transition: all 0.2 ease-in-out;
        text-decoration: none;
    
        &:hover{
            opacity: 1;
            color: $color-blanco !important;
        }
}}