$select-bg-color: var(--#{$prefix}-select-bg-color, $color-secundario) !important;
$select-hover-color: var(--#{$prefix}-select-hover-color, $color-blanco) !important;
$select-text-color: var(--#{$prefix}-select-text-color, $body-text-color) !important;
$select-border-color: var(--#{$prefix}-select-border-color, $color-terciario) !important;
$select-focus-color: var(--#{$prefix}-select-focus-color, $color-contraste) !important;

.select{
   color: $select-text-color;
   border-color: $select-border-color;
   background-color: $select-bg-color;

   &:hover{
    background-color: $select-hover-color;
   }
   &:focus{
    outline: 0;
    box-shadow: 0 0 0 1px $select-focus-color;
    border-color: $select-focus-color;
   }
}